body {
  background-color: #0f172a;
  color: #e2e8f0;
  margin: 0;
}

.fixed-image-section{
  max-height: 80vh;
  overflow: hidden;
  display: flex;
 }

.fixed-image {
  margin-top: 1%;
  width: 100%;
  height: auto;
  /* To maintain the aspect ratio of the image */
  object-fit: cover;
}

